.apptmpl-container { min-width: 500px !important; }
#map {
	height: 300px;
	width: 300px;
	border: 1px solid #aaa;
	margin: 8px 0 8px auto;
}
#search-button, #search-prev, #search-next { user-select: none; }
#search-control { margin: 0 4px; float: right; }
#search-results-control { display: none; }
#search-reset, #search-field, #search-button, #search-prev, #search-next {
	box-sizing: content-box;
	vertical-align: middle;
	border-radius: 5px;
	height: 24px;
	border: 1px solid #aaa;
	font-family: Georgia, serif;
	font-size: 14px;
}
#search-field {
	padding: 2px;
	width: 225px;
}
#search-button { padding: 2px 8px; }
#search-control {
	text-align: right;
	margin-bottom: 16px;
}
#search-results a {
	vertical-align: top;
	max-width: 256px;
	display: inline-block;
	font-size: 12px;
	margin: 0 4px 8px 4px;
	text-decoration: none;
}
#search-results a:hover {
	text-decoration: underline;
}
#search-results img {
	border: none;
}
.footer { font-size: 12px; }
@media screen and (min-width: 960px){
	#map { width: 400px; }
	#search-field { width: 330px; }
}
@media screen and (min-width: 1200px){
	#map { width: 575px; }
	#search-field { width: 500px; }
}
@media screen and (min-height: 640px){
	#map { height: 400px; }
}
@media screen and (min-height: 800px){
	#map { height: 500px; }
}
