body { overflow-y: scroll; }
.apptmpl-container { min-width: 450px !important; }
#map {
	height: 300px;
	width: 100%;
	border: 1px solid #aaa;
	margin: 8px 0 0 auto;
	box-sizing: border-box;
	text-align: left;
}
#search-button, #search-prev, #search-next { user-select: none; }
#search-control { margin: 0 4px; float: right; width: 425px; }
#search-results-control {
	display: none; text-align: center;
}
#search-results-control div { margin: 8px 0 0 0; }
#search-reset, #search-field, #search-button, #search-prev, #search-next, #selected-delete, #selected-edit, #selected-spreadsheet, #selected-all, #selected-unselect-all {
	box-sizing: content-box;
	vertical-align: middle;
	border-radius: 5px;
	height: 24px;
	border: 1px solid #aaa;
	font-family: Georgia, serif;
	font-size: 14px;
}
#search-field {
	padding: 2px;
	width: 100%;
}
#search-button { padding: 2px 8px; margin: 0 0 0 10px; }
#search-control {
	text-align: right;
	margin-bottom: 16px;
}
#search-selected-control, #selected-status { margin: 4px 0 0 0; }
#search-results a {
	vertical-align: top;
	max-width: 256px;
	display: inline-block;
	font-size: 12px;
	margin: 0 4px 8px 4px;
	text-decoration: none;
	border: 2px solid transparent;
}
#search-results a div{
	padding: 2px;
}
#search-results a.selected {
	border: 2px solid #00f;
	background-color: #00f;
	color: #fff;
}
#search-results a:hover {
	text-decoration: underline;
}
#search-results img {
	border: none;
}
.search-control-tbl { display: table; width: 100%; }
.search-control-cell { display: table-cell; }
.footer { font-size: 12px; }
.no-results, .err-results {
	text-align: center; margin: 16px 8px;
}
.no-results span {
	background-color: #ff1;
	padding: 4px 8px;
}
.err-results span {
	background-color: #f88;
	padding: 4px 8px;
}
